<div *ngIf="book" class="wrapper">
    <img src="{{book.cover}}" alt="Image loading"/>
    <div class="book-info">
        <h3>{{book.title}}</h3>
        <div class="book-details">
            <p>Rating: {{book.rating}}</p>
            <p>Reviews: {{book.reviewNumber}}</p>
        </div>
    </div>
    <div class="item-buttons">
        <button mat-raised-button (click)="openDialog()"><mat-icon>visibility</mat-icon></button>
        <a mat-raised-button routerLink="/{{book.id}}"><mat-icon>edit</mat-icon></a>
    </div>
</div>
